/*header*/
header {
    position: sticky;
    top: 0;
    z-index: 100;

    background-color: #6B46C1;
    color: white;
    padding: 20px;

    display: flex;
    align-items: center;
    justify-content:space-around;
}
h1{
    margin: 0;
}
.logo-link{
    color: white;
    text-decoration: none;
}
.buttons{
    display: flex; 
    column-gap: 20px;
    align-items: center;
}
.buttons nav{
    display: flex; 
    column-gap: 20px;
    align-items: center;
}
.buttons nav a{
    color: white;
    text-decoration: none;
}
.buttons nav a:hover{
    text-decoration:underline;
}
.active{
    text-decoration:underline;
}
.buttons .button_system{
    text-decoration: none;
    color: #6B46C1;
    background-color: white;
    border-radius: 24px;
    padding: 5px 10px;
    transition: background-color 0.5s ease;
}
.buttons .button_system:hover{
    color: white;
    background-color: #6B46C1;
    outline: 2px solid white;
}


/*header adapiv*/
@media (max-width: 768px) {
    header {
        flex-direction: column;
        padding: 1rem;
        align-items:end;
        padding-right: 40px;
    }
    
    nav {
        margin: 1rem 0 0;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: center;
    }
    header .buttons{
        display: none;
    }
    .buttons .button_system{
        display: none;
    }
}
