body{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin: 0;
padding: 0;
overflow-x: hidden;
}
body::-webkit-scrollbar {
    display: none; 
}


/*category*/
.category{

    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #e0e0e0;

    border-radius: 24px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    max-height: 320px;
}
.category-btn{
    background: #f0f0f0;
    color: #333;
    border: none;
    border-radius: 8px;
    padding: 10px 0;
    font-size: 1rem;

    text-decoration: none;
    text-align: center;

    cursor: pointer;

    transition: 0.3s;
}
.category-btn:hover{
    background-color: #7750d4;
}

.category-btn:hover, 
        .category-btn.active {
            background: #6B46C1;
            color: white;
        }
        .no-posts {
            text-align: center;
            padding: 40px;
            font-size: 18px;
            color: #666;
            display: none;
        }
        .card {
            transition: all 0.3s ease;
        }
        .hidden {
            display: none;
        }

@media (max-width: 768px){
    /* .category{
        display: none;
    } */
    .category{
        width: auto;
        row-gap: 10px;
        margin-bottom: 30px;
    }
}
@media (max-width: 900px){
    .category-btn{
        font-size: 1rem;
    }
}


/*main*/
main{
    margin: 40px 10%;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
    
    min-height: 500px;

}
@media (min-width: 769px){
    main{
        grid-template-columns: 1fr 3fr;
    }
}
.container{
    display: flex;
    flex-direction:column;
    row-gap: 30px;
}

.card{
    width: auto;
    min-height: 200px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #e0e0e0;

    padding: 20px;
    border-radius: 24px;

    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: start;

}
.top{
    width: 100%;
}
.main-info{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title{
    font-size: 1.3rem;
}

.bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.time_post{
    color: rgb(112, 112, 112);
}
u{
    text-align:end
}
.user{
    color: #6B46C1;
}

@media (max-width: 1024px){
    .title{
        font-size: 1.5rem;
    }
    main{
        margin: 40px 5%;
    }
}
@media (max-width: 320px){
    .title{
        font-size: 1rem;
    }
    .label, .bottom span, i, .time_post{
        font-size: 0.7rem;
    }
}